:root {
  --primary-color: #050408;
  --secondary-color: #3a3e71;
  --light-color: #b588ff;
  --text-color: #fff7f7;
  font-family: "Poppins", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--primary-color);
}
main {
  height: 100%;
}
header {
  height: 100px;
  background-color: hsla(0, 0%, 0%, 0);
}
#home {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #3a3e71;
  background: url(background.jpg) center bottom;
  background-size: cover;
  background-attachment: fixed;
}

#home::before {
  content: "";
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Ajuste o valor de opacidade para escurecer mais ou menos */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* A camada escura vem por trás */
}

#home-principal {
  width: 100%;
  height: 100%;
}

#home-info {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  position: relative;
  z-index: 2;
}

#home-info h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

#home-info span {
  font-size: 18px;
  letter-spacing: 4px;
}
#experiencias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#experiencias h2 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 40px;
}
#cards {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.card {
  border: 1px solid white;
  border-collapse: collapse;
  flex: 1;
  height: 100%;
  padding: 30px;
}
.card:nth-child(2) {
  border-inline: none;
}

.card .title {
  display: flex;
  gap: 10px;
}
.card h3 {
  position: relative;
  z-index: 2;
  letter-spacing: 4px;
}
.card h3::before {
  content: "";
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 0;
  background-color: var(--light-color);
  z-index: -1;
}
.card:nth-child(2) h3::before {
  background-color: #88ffa6;
}
.card:nth-child(3) h3::before {
  background-color: #88c5ff;
}

.card-experiencia-info span {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 4px;
}
.description {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 16px;
  font-style: italic;
}
